@import "./uniscale.scss";
/////////////////////////////////////////////////////////
// Loading Animation:
.LoadingAnimation {
    margin: 5px auto;
}

/////////////////////////////////////////////////////////
// Hide:
.hide {
    display: none;
}

/////////////////////////////////////////////////////////
// Footer:
.footer-space {
    display: block;
    flex-grow: 1;
    width: 100%;
}

footer {
    line-height: 1.55;
    font-size: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-top: 1em;
    width: 100%;
    .copyright-company {
        font-size: 0.8em;
    }
    .copyright-author {
        font-size: 0.8em;
    }
}

/////////////////////////////////////////////////////////
// Cookies:
.cookies-alert {
    position: fixed;
    z-index: 20;
    bottom: 0em;
    width: 100%;
    background: $bg-primary;
    transition: bottom 0.7s ease;
    &.dismiss {
        bottom: -100%;
    }
    h5 {
        background: none;
    }
}

/////////////////////////////////////////////////////////
// Header:
.logo {
    max-width: 250px;
    &.download {
        max-width: 100px;
    }
}

.logo-description {
    font-size: 0.8em;
    letter-spacing: 0.25em;
    color: #f7f7f7;
    min-height: 1em;
}

/////////////////////////////////////////////////////////
// Download:
.file-name {
    //@extend .panel;
    padding-left: 3em;
    padding-right: 3em;
}

.download-space {
    @extend .footer-space;
}

.download-preview {
    display: inline-block;
    .fa {
        font-size: 4em;
        margin: 0.3em;
    }
}

.btn {
    .btn-left-ico {
        padding: 0.05em 0.3em 0.05em 0.0em;
    }
}

hr {
    padding: 0em;
    margin: 0em 0em 0em 0em;
    display: block;
    border: none;
    border-bottom: 1px solid mix($color-default, $color-mix, 70);
}

.table {
    &.table-stripped {
        &>*:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

@each $name,
$size in $screen-sizes {
    //////////////////////////////
    // Hide:
    @media screen and (max-width: #{$size - 1px}) {
        .hide-before-#{$name} {
            display: none !important;
        }
    }
}

.files-list {
    .arrow {
        padding: 0.5em 0.1em 0.3em 0.1em;
        font-size: 0.7em;
    }
}

/////////////////////////////////////////////////////////
// List:
.list,
ul {
    flex-basis: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0em 0em 0.4em 0em;
    padding: 0.1em 0.5em;
    font-size: 1em;
    &:first-child {
        margin-top: 0.4em;
    }
    &>li {
        list-style: none;
        padding: 0.2em 0em 0.2em 0.5em;
        &:first-child {
            margin-top: 0.0em;
        }
        &:last-child {
            margin-bottom: 0.0em;
        }
        &::before {
            content: "\f105";
            display: inline-block;
            font-family: "FontAwesome";
            color: $color-default;
            padding-right: 0.5em;
        }
    }
    &.no-style {
        &>li::before {
            display: none;
        }
    }
}